input[type=email] {
    width: 50%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  input[type=text] {
    width: 50%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
  }

  input[type=password] {
    width: 50%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
  }
  input[type=number] {
    width: 50%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
  }

  input[type=button] {
    background-color: skyblue;
    color: black;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
  }

  input[type=submit] {
    background-color: skyblue;
    color: black;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
  }

  input[type=reset] {
    background-color: red;
    color: black;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
  }

  .col-25 {
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    width: 75%;
    margin-top: 6px;
  }

  .radio-col{
    margin-top: 20px;
  }
    
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  